5 23 * * * backup rm -rf /home/backup/influxdb/*; influxdb backup -portable -database telegraf /home/backup/influxdb
20 23 * * 0  backup duplicity --no-encryption full /home/backup/influxdb/ rsync://MichalKaiser@backup.cybera.mk/influxdb
35 23 * * 1-6  backup duplicity --no-encryption incremental /home/backup/influxdb/ rsync://MichalKaiser@backup.cybera.mk/influxdb
