action(type="omfwd" Protocol="udp" Target="michalkaiser-1" Port="6514" Template="RSYSLOG_SyslogProtocol23Format")
action(type="omfwd" Protocol="udp" Target="michalkaiser-2" Port="6514" Template="RSYSLOG_SyslogProtocol23Format")
