{% if inventory_hostname == mysql_backup_host %}
15 */1 * * * backup mysqldump agama > /home/backup/mysql/agama.sql
30 */3 * * *  backup duplicity --no-encryption full /home/backup/mysql/ rsync://MichalKaiser@backup.cybera.mk/mysql
45  */3 * * *  backup duplicity --no-encryption incremental /home/backup/mysql/ rsync://MichalKaiser@backup.cybera.mk/mysql
{% endif %}
