apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
{% for vm in groups['prometheus_servers'] %}
    url: http://prometheus:{{ prom_port }}/prometheus
{% endfor %}
    password:
    user:
    database:
    isDefault: true
    version: 1
    editable: false
    method: POST

  - name: InfluxDB:latency
    type: influxdb
    access: proxy
    orgId: 1
{% for vm in groups['influxdb_servers'] %}
    url: http://influxdb:{{ influxdb_port }}
{% endfor %}
    database: latency
    editable: true
    jsonData:
      httpMode: POST

  - name: InfluxDB:telegraf
    type: influxdb
    orgId: 1
    access: proxy
{% for vm in groups['influxdb_servers'] %}
    url: http://influxdb:{{ influxdb_port }}
{% endfor %}
    editable: true
    database: telegraf
    jsonData:
      httpMode: POST
