acl cybera { {{ dns_acl }} };

options {
	directory "/var/cache/bind/";
	
	forwarders {
	  {{ dns_servers }}
	};

	allow-query {cybera;};
	dnssec-validation no;
};

statistics-channels {
  inet {{ localhost }} port 8053 allow { {{ localhost }}; };
};

key "{{dns_transfer_key_name}}" {
	algorithm hmac-sha256;
	secret "{{ dns_transfer_key }}";
};

key "{{dns_update_key_name}}" {
	algorithm hmac-sha256;
	secret "{{ dns_update_key }}";
};
