acl cybera { {{ dns_acl }} };

options {
	directory "/var/lib/bind";
	
	forwarders {
	  {{ dns_servers }}
	};

	allow-query {cybera;};
	dnssec-validation no;
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
